
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX//
 //XXXXXX  XXX     XXX XXX XXX  XX XXX//
 //XXXXXX  XXX XXX XXX     XXX X X XXX//
 //XXX XX  XXX XXX XXX XXX XXX XX  XXX//
 //XXX     XXX     XXX XXX XXX XXX XXX//
 //XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX//
 //
 //
 //-------------------------------
 //TWCircle Core Style
 //
 //Basic stylesheet for the tool wheel.
 //--------------------------------
 
 // July 1, 2014
 // John Drogo
 */

@keyframes scalein{
    0% {transform: scale(0); -webkit-transform: scale(0);}
    100% {transform: scale(1); -webkit-transform: scale(1);}
}


@-webkit-keyframes scalein{
    0% {transform: scale(0); -webkit-transform: scale(0);}
    100% {transform: scale(1); -webkit-transform: scale(1);}
}


.tw-circle{
    overflow: hidden;
    width: 100px;
    height: 100px;
    background-color: none;
    border: 4px dotted black;
    border-radius: 100%;
    margin: 10px;
    transform: scale(.1);
    display: none;
    -webkit-transform: scale(.1);
}

.tw-line{
    position: relative;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    padding: 0px;
    margin-top: -1px;
    border-top: 1px solid #333;
    -webkit-transform-origin: 0% 0%;
    -webkit-transform: rotate(45deg);
    transform-origin: 0% 0%;
    transform: rotate(45deg);
}

.tw-marker{
    resize: none;
    height: 4px;
    width: 4px;
    background-color: black;
    display: none;
    vertical-align: middle;
    color: white;
    font-size: 10px;
    font-family: arial;
    text-align: center;
    margin: -2px;
    position: relative;
    border-radius: 100%;
    left: 50px;
}

.tw-markerinner{
    height: 70.7%;
    width: 70.7%;

    /*
     Translation percentage is based on our size, which is
     rad(2)/2 of total size, so our offset must be scaled by 2/rad(2)
     
     100% - 70.7% = 29.3%/2 = 14.65% * 2/rad(2) = 20.7%w
     */
    -webkit-transform: translateY(20.7%);
    transform: translateY(20.7%);
    background-color: black;
    margin: auto;
}

.tw-marker:hover{
	background-color: rgba(0, 0, 0, 0);
}