
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX//
//XXXXXX  XXX     XXX XXX XXX  XX XXX//
//XXXXXX  XXX XXX XXX     XXX X X XXX//
//XXX XX  XXX XXX XXX XXX XXX XX  XXX//
//XXX     XXX     XXX XXX XXX XXX XXX//
//XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX//
//
//
//-------------------------------
//TWCircle demo.
//
//Makes a ton of them, even one that looks like a clock.
//--------------------------------

// July 1, 2014
// John Drogo
*/


#stats{
    float: left;
    height: 90vh;
    width: 20vw;
    padding-right: 20px;
}

#stats > ul > li > p {
    display: inline;
}

.tw-circle{
    float: left;
}
