
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX//
//XXXXXX  XXX     XXX XXX XXX  XX XXX//
//XXXXXX  XXX XXX XXX     XXX X X XXX//
//XXX XX  XXX XXX XXX XXX XXX XX  XXX//
//XXX     XXX     XXX XXX XXX XXX XXX//
//XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX//
//
//
//-------------------------------
//TWCircle demo.
//
//Makes a ton of them, even one that looks like a clock.
//--------------------------------

// July 1, 2014
// John Drogo
*/

.badge{
    height: 70%;
    padding: 15%;
    margin: auto;
}

div.tw-circle{
    padding: 19px;
    border: none;
    background-color: #B00;
    background-image: url("images/bdrbgrd.png");
    background-size: 100% 100%;
}

div.tw-marker{
    background: white;
}

div.tw-markerinner{
    background: none;
}